footer {
    background: #3c3f43;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    div {
        font-size: 0.8em;
        color: white;
    }

    .divider {
        border-left: 1px solid white;
        margin: 0 8px;
        height: 0.8em;
        margin-top: 4px;
    }
}